<html>
   <head>
     <style>
       table {
         width: 100%;
         border-collapse: collapse;
         font-family: Arial, sans-serif;
         font-size: 14px;
       }
       th, td {
         border: 1px solid #dddddd;
        text-align: left;
         padding: 8px;
       }
       th {
         background-color: #f2f2f2;
       }
      tr:nth-child(even) {
         background-color: #f9f9f9;
       }
     </style>
  </head>
  <body>
    <p><strong>Database hosts monitoring status:</strong></p>
    <p><strong>Logic Monitore alerts </strong></p>
    <p><strong>DR PE Database Restore</strong></p>
     {{ consolidated_logs.stdout_lines }}
  </body>
</html>