Time: {{ ansible_date_time.iso8601 }} CET

Database hosts monitoring status:

DR PE Database restore

{% for logs_status, line in consolidated_logs.stdout_lines %}
**Status:** {{ logs_status }}
{{ line }}
{% endfor %}
