
Time: {{ ansible_date_time.iso8601 }} CET


Database hosts monitoring status:

DR PE Database restore

{% if logs_status == 'no logs found' %}
No logs collected as of {{ ansible_date_time.iso8601 }} CET.
{% else %}
{{ consolidated_logs }}
{% endif %}
